@charset "UTF-8";


	/* 가게 홈 modal */
	
	/* 단골 */
	section.on::after{ 
 	    position: absolute; left: 0; top: 0; z-index:1000;
 	    content:''; display: block; width: 100%; height: 100%;
 	    background-color: rgba(0, 0, 0, 0.5); 
 	}
 	
	section .pop_up_box{
		display:none;
		z-index:1001;
	}
	
	section.on{position: relative; width: 100%; height: 100%;}
 	section.on .pop_up_box{
    display:block;z-index:1001 !important;position: absolute; left: 50%; top: 450px; transform: translate(-50%, -50%); z-index: 1;
    padding: 30px 20px; width: 80%; height: 150px; background-color: #fff; border-radius: 10px; text-align: center;box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)}
	section.on .pop_up_box .ask{font-size: 18px; font-weight: 500}
	
	section.on .pop_up_box .btn_box .btn{float: left; margin: 30px 0 0 0; width: 48%; height: 36px; margin-right: 4%; border-radius: 5px; line-height: 34px;}
	section.on .pop_up_box .btn_box .btn a{display: block; width: 100%; height: 100%; font-weight: bold}
	section.on .pop_up_box .btn_box .cancel{border: 1px solid #bbb;}
	section.on .pop_up_box .btn_box .cancel a{color: #000;}
	section.on .pop_up_box .btn_box .sure{margin-right: 0; background-color: #78a6d8}
	section.on .pop_up_box .btn_box .sure a{color: #fff;}
 	
 	/* 신고하기 */ 
 	section.reviewon{position: relative; background-color: #fff; overflow: hidden;}
	section.reviewon::after{
	    position: absolute; left: 0; top: 0;z-index:1000;
	    content:''; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5)}
	section .report_box{
		position: absolute; left: 0; bottom: 0; z-index: 1001;
		width:100%; height: 70px; background-color: #fff; box-shadow: 0 0 50px rgba(0, 0, 0, 0.6); 
	}
	section .report_box p{text-align: center; }
	section .report_box p a{display: block; width: 100%; height: 100%; line-height: 70px; font-size: 18px; font-weight: bold; color: #e78436; }

	.report_box a{
	
		color:#78a6d8 !important;
		
	}
	
	#withdraw .pop_up {display:none;}
	
	/* 회원탈퇴 사유 모달 */
	#withdraw.out .pop_up {display:block;}
	#withdraw.out::after{
    position: absolute; left: 0; top: 0;
    content:''; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5)}
	#withdraw.out .pop_up{
	    position: absolute; left: 0; bottom: 0; z-index: 1;
	    width: 100%; padding: 0 0 10px; overflow: hidden;
	    background-color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px; box-shadow: 0 0 50px rgb(0 0 0 / 60%);
	}
	
	#withdraw.out .pop_up>.top{padding: 0 20px; width: 100%; height: 60px; background-color: #fff; border-bottom: 2px solid #e1e1e1}
	#withdraw.out .pop_up>.top::after{content:''; display: block; clear: both;}
	#withdraw.out .pop_up>.top .icon_right{float: right; width: 8%; text-align: right;line-height: 60px;} 
	#withdraw.out .pop_up>.top .icon_right a{color: #000;}
	#withdraw.out .pop_up>.top .title{float: left; padding-left: 34px;  width: 92%; text-align: center; line-height: 60px;}
	
	#withdraw.out .pop_up>.box{width: 100%;padding: 15px 20px; border-bottom: 1px solid #e1e1e1}
	#withdraw.out .pop_up>.box a{display: block; width: 100%; height: 100%; color: #222; font-size: 14px; font-weight: bold}
	#withdraw.out .pop_up>.box:nth-of-type(2) a{color: #7ba8d9;}
	#withdraw.out .pop_up>.box:last-of-type{border: 0;}
	
	/* 가게 프로필 신청 지역 선택 */
	#MY001-BZRG .area_box{display:none;}
	
	#MY001-BZRG.area{background-color: transparent;position:absolute;top:0;z-index: 999; background-image: url(img/bg_img_.png); width: 100%; height: 100%; overflow: hidden}
	#MY001-BZRG.area::after{
	    position: absolute; left: 0; bottom: 0;
	    content:''; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5)}
	#MY001-BZRG.area .area_box{
	    position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%;display:block;
	    background-color: #fff; border-radius: 10px 10px 0 0 ;box-shadow: 0 0 50px rgb(0, 0, 0, 60%)
	}
	#MY001-BZRG.area .area_box .top_box{padding: 0 20px; width: 100%; height: 50px; border-bottom: 1px solid #bbb; text-align: center }
	#MY001-BZRG.area .area_box .top_box .title{font-size: 16px; font-weight: bold; line-height: 50px}
	#MY001-BZRG.area .area_box .top_box a{float: right;line-height: 50px; color: #000; font-weight: lighter}
	
	#MY001-BZRG.area .area_box ul{}
	#MY001-BZRG.area .area_box ul li{
	    float: left; width: 50%; height: 40px;
	    padding: 0 20px; border-bottom: 1px solid #ddd} 
	#MY001-BZRG.area .area_box ul li:nth-of-type(1n){border-right: 1px solid #ddd;}
	
	#MY001-BZRG.area .area_box ul li a{font-size: 13px; font-weight: 400; line-height: 38px; color: #000}
	#MY001-BZRG.area .area_box ul li:first-of-type a{font-size: 14px; font-weight: bold}
	#MY001-BZRG.area .area_box ul li:last-of-type a{display: none}
	
	/* 가게 디테일페이지 레이아웃 */
/* 	section.on .top{padding: 0 15px;} */
/* 	section .top{padding: 0 20px; width: 100%; height: 50px; background-color: #fff; border-bottom: 2px solid #e1e1e1; transition: 0.3s} */
/* 	section .top::after{content:''; display: block; clear: both;} */
/* 	section .top .icon_left{float: left; width: 20%; text-align: left;line-height: 50px;}  */
/* 	section .top .icon_left a{color: #000;} */
/* 	section .top .title{float: left; width: 60%; text-align: center; line-height: 50px;} */
/* 	section .top .icon_right{float: left; width: 20%; text-align: right;line-height: 50px;} */
/* 	section .top .icon_right a{color: #000;} */
	
/* 	section .profile_top{position: relative; width: 100%; height: 240px; background-color: beige;} */
/* 	section .profile_bottom{ */
/* 	     display: flex; flex-flow: row nowrap; justify-content: space-between; flex-direction: row; align-items: center; */
/* 	    position: absolute; left: 50%;transform:translate(-50%, -60px); padding: 5%; width: 85%; background-color: #fff; */
/* 	} */
/* 	section .profile_bottom .left_box{} */
/* 	section .profile_bottom .left_box li{margin-bottom: 5px;} */
/* 	section .profile_bottom .left_box li:nth-of-type(1){font-size: 20px; font-weight: bold;} */
/* 	section .profile_bottom .left_box li:nth-of-type(2){font-size: 14px; color: #777} */
/* 	section .profile_bottom .left_box li:nth-of-type(3){font-size: 14px; color: #777} */
	
/* 	section .profile_bottom .right_box{ */
/* 	         display: flex; flex-flow: row nowrap; justify-content: space-between; flex-direction: row; align-items: center; height: 36px; */
/* 	    ;background-color: #78a6d8; border-radius: 5px; */
/* 	} */
/* 	section .profile_bottom .right_box li{padding: 0 5px; color: #fff; font-size: 14px;} */
/* 	section .profile_bottom .right_box li a{color: #fff; font-size: 14px;} */
	
/* 	section .call{ */
/* 	     display: flex; flex-flow: row nowrap; justify-content: space-between; flex-direction: row; align-items: center; text-align: center; font-weight: bold; font-size: 16px; */
/* 	    margin-top:55px; border: 1px solid #ddd} */
/* 	section .call a{display: block; width: 100%; height: 100%; } */
/* 	section .call .call_left{width: 50%; border-right: 1px solid #ddd} */
/* 	section .call .call_left a{line-height: 50px; color: #000 } */
/* 	section .call .call_left a span{padding: 0 10px} */
	
/* 	section .call .call_right{width: 50%} */
/* 	section .call .call_right a{line-height: 60px; color: #000 } */
/* 	section .call .call_right a span{padding: 0 10px} */
	
	
/* 	section{background-color: #fff;} */
	
/* 	section .top{padding: 0 20px; width: 100%; height: 50px; background-color: #fff; border-bottom: 2px solid #e1e1e1} */
/* 	section .top::after{content:''; display: block; clear: both;} */
/* 	section .top .icon_left{float: left; width: 10%; text-align: left;line-height: 50px;}  */
/* 	section .top .icon_left a{color: #000;} */
/* 	section .top .title{float: left; width: 83%; text-align: center; line-height: 50px;} */
	
/* 	section .box::after{content:''; display: block; clear: both;} */
	
/* 	section .title_box{padding: 0 20px; height: 50px; background-color: #fff;} */
	
/* 	section .title_box .title{line-height: 50px; font-size: 20px; text-align: center;} */
	
/* 	section .title_box .icon{float: left; line-height: 50px;} */
/* 	section .title_box .icon a{color: #000;} */
	
	.layout2{
		display: none;
	    position: fixed;
	    top: 0px;
	    width: 100%;
	    z-index:999;
	}
	
/* 	section > #gnb::after{content: ''; display: block; clear: both} */
/* 	section > #gnb li{float: left; width: 33%; text-align: center; } */
/* 	section > #gnb li a{display: block; width: 100%; height: 100%; color: #78a6d8; line-height: 38px; font-weight: bold;} */

	
	section .layout2 #gnb::after{content: ''; display: block; clear: both}
	section .layout2 #gnb li{float: left; width: 33.3%; text-align: center; background:#ffffff;}
	section .layout2 #gnb li a{display: block; width: 100%; height: 100%; color: #78a6d8; line-height: 38px; font-weight: bold;}
	
	.bottom_box a{
		color:#000;
	}
	
	#GNB001 .pic,#GNB001-EX01 .pic,#GNB001-JY01-2 .pic {
		overflow: hidden;
	
	}
	
	/* 가게 수정 삭제 이동 */
	
	.img_file{
	
		--swiper-theme-color: #007aff;
	    --swiper-navigation-size: 44px;
	    font-family: '맑은 고딕';
	    color: #000;
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	    position: absolute;
	    right: 8px;
	    top: 8px;
	    
	}
	
	.img_file label{
		display: inline-block;
	    width: 28px;
	    height: 28px;
	    background-color: #78a6d8;
	    border-radius: 100%;
	    text-align: center;
	    line-height: 26px;
	    color: #fff;
	    font-size: 13px;
	}
	
	.img_file input{
		display:none
	}
	
	.profile_top .cancel{
    	position: absolute;
	    left: 8px;
	    top: 8px;
	}
	
	.profile_top .cancel a {
		display: block;
	    width: 100%;
	    height: 100%;
	    color: #78a6d8
	}
