<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roomio.carret.member">

	<sql id="memberSearch">
	
			<if test='dateData != null and !dateData.equals("")'> and m.regdate = #{dateData} </if>
			<if test='status != null and status != "" and status != 0 '> and m.withdrawal = ${status} </if>
			<if test='franchiseId != null and franchiseId != "" '> and f.franchise_id = ${franchiseId} </if>
			<if test='areaId == 0 '>and a.id = ${baseArea}</if>
			<if test='areaId != null and areaId != "" and areaId != 0 and areaId != 999'> and f.area_id = ${areaId} </if>
			<if test='nickName != null and !nickName.equals("") '> and m.name = #{nickName} </if>
			
	</sql>
	
	<select id="getMemberList" parameterType="com.roomio.carret.bean.MemberManageBean" resultType="hashMap">
		
		select m.member_id,m.regdate,m.profile_image,f.franchise_name,m.member_code,m.name,s.sigungu_name,p.penalty_name,m.withdrawal
		from member m 
		inner join franchise as f 
		on m.franchise_id = f.franchise_id 
		left join member_penalty as p
		on m.member_id = p.member_id
		inner join area_sigungu as s
		on f.area_id = s.id 
		inner join area as a 
		on a.id = s.area_code 
		where p.regdate = (SELECT MAX(p1.regdate) FROM member_penalty as p1 WHERE p1.member_id = m.member_id 
	        <if test=' penalty != null and penalty != "" and penalty == 2 '> and p.penalty_name = 1</if>
			<if test=' penalty != null and penalty != "" and penalty == 3 '> and p.penalty_name = 2</if>
			<if test=' penalty != null and penalty != "" and penalty == 4 '> and p.penalty_name = 3</if>
         )
		
		<include refid="memberSearch"/>
		
	</select>
	
	<select id="getMemberListCnt" parameterType="com.roomio.carret.bean.MemberManageBean" resultType="int">

		select count(*) 
		from member m 
		inner join franchise as f 
		on m.franchise_id = f.franchise_id 
		left join member_penalty as p
		on m.member_id = p.member_id
		inner join area_sigungu as s
		on f.area_id = s.id 
		inner join area as a 
		on a.id = s.area_code 
		where p.regdate = (SELECT MAX(p1.regdate) FROM member_penalty as p1 WHERE p1.member_id = m.member_id 
	        <if test=' penalty != null and penalty != "" and penalty == 2 '> and p.penalty_name = 1</if>
			<if test=' penalty != null and penalty != "" and penalty == 3 '> and p.penalty_name = 2</if>
			<if test=' penalty != null and penalty != "" and penalty == 4 '> and p.penalty_name = 3</if>
         )
		
		<include refid="memberSearch"/>
		
	</select>
	
</mapper>
